@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}
p {
  color: red;
}
.pokemonCard {
  border: 10px solid #ffcb05;
  box-shadow: 20px 10px goldenrod;
  border-radius: 25px;
}



